<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Wii U SimConnect</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type=text/javascript>
			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		<script src="/static/js/custom/getSimData-NoUI.js"></script>
		<script type="text/javascript" src="/static/vendor/segment-display/segment-display.js"></script>
		
		<style>
			body {
				background-color: #101010;
			}
			.radio.selected {
				border: 1px solid white;
			}
			.radio {
				position: relative;
				color: #c00000;
				border: 1px solid #505050;
			}
			.com1 {
				position: absolute;
				left: 20px;
				top: 5px;
				width: 400px;
				height: 190px;
			}
			.nav1 {
				position: absolute;
				left: 50%;
				top: 5px;
				width: 400px;
				height: 190px;
			}
			.com2 {
				position: absolute;
				left: 20px;
				top: 205px;
				width: 400px;
				height: 190px;
			}
			.nav2 {
				position: absolute;
				left: 50%;
				top: 205px;
				width: 400px;
				height: 190px;
			}
			.radio-use, .radio-standby {
				font-size: 3em;
				margin-left: 30px;
				width: 150px;
				height: 100px;
			}
			.radio-labels {
				color: #d0d0d0;
				font-weight: bold;
				font-family: sans-serif;
				margin-left: 1em;
				position: relative;
			}
			.radio-label-name {
				position: absolute;
				top: 60px;
			}
			.radio-label-use {
				position: absolute;
				left: 20%;
			}
			
			.radio-label-standby {
				position: absolute;
				left: 65%
			}
		</style>
	</head>
	<body>
		<div>
			<div class="radios">
				<div class="radio com1 selected">
					<canvas id="display-com1-radio-use" class="radio-use">0.0</canvas>
					<canvas id="display-com1-radio-standby" class="radio-standby">0.0</canvas>
					<div class="radio-labels">
						<span class="radio-label-name">COM1</span>
						<span class="radio-label-use">USE</span>
						<span class="radio-label-standby">STBY</span>
					</div>
				</div>
				<div class="radio com2">
					<canvas id="display-com2-radio-use" class="radio-use">0.0</canvas>
					<canvas id="display-com2-radio-standby" class="radio-standby">0.0</canvas>
					<div class="radio-labels">
						<span class="radio-label-name">COM2</span>
						<span class="radio-label-use">USE</span>
						<span class="radio-label-standby">STBY</span>
					</div>
				</div>
				<div class="radio nav1">
					<canvas id="display-nav1-radio-use" class="radio-use">0.0</canvas>
					<canvas id="display-nav1-radio-standby" class="radio-standby">0.0</canvas>
					<div class="radio-labels">
						<span class="radio-label-name">NAV1</span>
						<span class="radio-label-use">USE</span>
						<span class="radio-label-standby">STBY</span>
					</div>
				</div>
				<div class="radio nav2">
					<canvas id="display-nav2-radio-use" class="radio-use">0.0</canvas>
					<canvas id="display-nav2-radio-standby" class="radio-standby">0.0</canvas>
					<div class="radio-labels">
						<span class="radio-label-name">NAV2</span>
						<span class="radio-label-use">USE</span>
						<span class="radio-label-standby">STBY</span>
					</div>
				</div>
			</div>
		</div>
		<script>
			var ACTIVE = "radio-use";
			var STANDBY = "radio-standby";
			var COM1 = "com1";
			var COM2 = "com2";
			var NAV1 = "nav1";
			var NAV2 = "nav2";
			var WHOLE = 0;
			var FRACT = 1;
			
			var selectedRadio = COM1;
			var timeoutInstance = null;
			
			function setFrequency(radio, activeOrStandby, frequency) {
				if (radio == COM1 || radio == COM2) {
					frequency = parseFloat(frequency).toFixed(3);
				} else {
					frequency = parseFloat(frequency).toFixed(2);
				}
				$("." + radio + " ." + activeOrStandby).html(frequency);
				displays[radio][activeOrStandby].setValue(frequency);
			}
			
			function getFrequency(radio, activeOrStandby) {
				return parseFloat($("." + radio + " ." + activeOrStandby).html());
			}
			
			function updateDisplay() {
				setFrequency(COM1, ACTIVE, radios.COM1.ACTIVE);
				setFrequency(COM1, STANDBY, radios[COM1][STANDBY]);
				
			}
			
			function swapActive(radio) {
				var eventType;
				switch (radio) {
					case NAV1:
						eventType = 'NAV1_RADIO_SWAP';
						break;
					case NAV2:
						eventType = 'NAV2_RADIO_SWAP';
						break;
					case COM1:
						eventType = 'COM_STBY_RADIO_SWAP';
						break;
					case COM2:
						eventType = 'COM2_RADIO_SWAP';
						break;
				}
				if (eventType) {
					// Cancel any pending update event and just update frequency immediately
					if (timeoutInstance !== null) {
						clearTimeout(timeoutInstance);
					}
					var frequency = getFrequency(radio, STANDBY);
					updateSim(radio, STANDBY, frequency, function(){
						triggerSimEventWithCallback(eventType, 0, function() {
							refreshFromSim();
						});
					});
				}
			}
			
			function setSelected(selected) {
				selectedRadio = selected;
				$(".radios").children().removeClass("selected");
				$(".radios ." + selected).addClass("selected");
			}
			
			function increment(radio, wholeOrFract, direction) {
				var frequency = getFrequency(radio, STANDBY);
				var step = 1 * direction;
				var decimalPlaces;
				if (radio == COM1 || radio == COM2) {
					decimalPlaces = 3;
				} else {
					decimalPlaces = 2;
				}
				if (wholeOrFract == FRACT) {
					if (radio == NAV1 || radio == NAV2) {
						step = 0.05 * direction;
					} else if (radio == COM1 || radio == COM2) {
						step = 0.025 * direction;
					}
					frequency = getFractIncrement(radio, step);
				} else {
					frequency = getWholeIncrement(radio, step);
				}
				
				frequency = frequency.toFixed(decimalPlaces);
				setFrequency(radio, STANDBY, frequency);
				if (timeoutInstance !== null) {
					clearTimeout(timeoutInstance);
				}
				timeoutInstance = setTimeout(function() { updateSim(radio, STANDBY, frequency); }, 3000);
			}
			
			function getWholeIncrement(radio, step) {
				var frequency = getFrequency(radio, STANDBY);
				var whole = Math.floor(frequency); // Use floor rather than trunc due to old Wii U Javascript support
				var fract = frequency - whole;
				whole += step;
				
				if (radio == NAV1 || radio == NAV2) {
					if (whole < 108) {
						whole = 117;
					}
					if (whole > 117) {
						whole = 108;
					}
				} else {
					if (whole < 118) {
						whole = 136;
					}
					if (whole > 136) {
						whole = 118;
					}
				}
				frequency = whole + fract;
				return frequency;
			}
			
			function getFractIncrement(radio, step) {
				var frequency = getFrequency(radio, STANDBY);
				var whole = Math.floor(frequency); // Wii U browser doesn't support Math.trunc
				var fract = frequency - whole;
				fract += step;
				fract = fract.toFixed(3);
				if (radio == NAV1 || radio == NAV2) {
					if (fract < 0.0) {
						fract = 0.95;
					}
					if (fract >= 1.0) {
						fract = 0.0;
					}
				} else {
					if (fract < 0.0) {
						fract = 0.975;
					}
					if (fract >= 1.0) {
						fract = 0.0;
					}
				}
				frequency = whole + parseFloat(fract);
				return frequency;
			}
			
			function updateSim(radio, activeOrStandby, frequency, callback) {
				if (radio == COM1) {
					triggerSimEventWithCallback('COM_STBY_RADIO_SET', getComToBCD(frequency), callback);
				} else if (radio == COM2) {
					triggerSimEventWithCallback('COM2_STBY_RADIO_SET', getComToBCD(frequency), callback);
				} else if (radio == NAV1) {
					triggerSimEventWithCallback('NAV1_STBY_SET', getNavToBCD(frequency), callback);
				} else if (radio == NAV2) {
					triggerSimEventWithCallback('NAV2_STBY_SET', getNavToBCD(frequency), callback);
				}
			}
			
			function getComToBCD(val) {
				bcd = parseInt(val * 100 - 10000, 16);
				return bcd;
			}
			
			function getNavToBCD(val) {
				// SimConnect assumes all NAV frequencies start with "1",
				// so this removes the leading one and moves the decimal
				// twice to the right, then converts the value to hex,
				// effectively packing it into BCD.
				bcd = parseInt(val * 100 - 10000, 16);
				return bcd;
			}
			
			function refreshFromSim() {
				getSimulatorDataset('radios', function(data) {
					setFrequency(COM1, ACTIVE, data["COM_ACTIVE_FREQUENCY:1"]);
					setFrequency(COM1, STANDBY, data["COM_STANDBY_FREQUENCY:1"]);
					setFrequency(COM2, ACTIVE, data["COM_ACTIVE_FREQUENCY:2"]);
					setFrequency(COM2, STANDBY, data["COM_STANDBY_FREQUENCY:2"]);
					setFrequency(NAV1, ACTIVE, data["NAV_ACTIVE_FREQUENCY:1"]);
					setFrequency(NAV1, STANDBY, data["NAV_STANDBY_FREQUENCY:1"]);
					setFrequency(NAV2, ACTIVE, data["NAV_ACTIVE_FREQUENCY:2"]);
					setFrequency(NAV2, STANDBY, data["NAV_STANDBY_FREQUENCY:2"]);
				});
			}
			
			function createSegmentDisplay(pattern, id) {
				var display = new SegmentDisplay(id);
				display.pattern         = pattern;
				display.displayAngle    = 0;
				display.digitHeight     = 20;
				display.digitWidth      = 14;
				display.digitDistance   = 2.5;
				display.segmentWidth    = 2;
				display.segmentDistance = 0.3;
				display.segmentCount    = 7;
				display.cornerType      = 1;
				display.colorOn         = "#e95d0f";
				display.colorOff        = "#250f02"; /* Original: "#4b1e05"; */
				display.setValue("")
				return display;
			}
			
			$("body").keydown(function(e) {
				var Key = {
				  LEFT:   37,
				  UP:     38,
				  RIGHT:  39,
				  DOWN:   40
				};
				switch (e.which) {
					case Key.LEFT:
						increment(selectedRadio, FRACT, -1);
						break;
					case Key.RIGHT:
						increment(selectedRadio, FRACT, 1);
						break;
					case Key.UP:
						increment(selectedRadio, WHOLE, 1);
						break;
					case Key.DOWN:
						increment(selectedRadio, WHOLE, -1);
						break;
					case 13:
						swapActive(selectedRadio);
						break;
				}
				event.preventDefault();
				return false;
			});
			
			$('.com1').mousedown(function() { setSelected(COM1); });
			$('.com2').mousedown(function() { setSelected(COM2); });
			$('.nav1').mousedown(function() { setSelected(NAV1); });
			$('.nav2').mousedown(function() { setSelected(NAV2); });
			
			$('.com1 button').click(function() { setSelected(COM1); });
			$('.com2 button').click(function() { setSelected(COM2); });
			$('.nav1 button').click(function() { setSelected(NAV1); });
			$('.nav2 button').click(function() { setSelected(NAV2); });
			
			refreshFromSim();
		</script>
		<script type="text/javascript">
			var displays = {
				"com1": {
					"radio-use": createSegmentDisplay('###.###', 'display-' + COM1 + '-' + ACTIVE),
					"radio-standby": createSegmentDisplay('###.###', 'display-' + COM1 + '-' + STANDBY)
				},
				"com2": {
					"radio-use": createSegmentDisplay('###.###', 'display-' + COM2 + '-' + ACTIVE),
					"radio-standby": createSegmentDisplay('###.###', 'display-' + COM2 + '-' + STANDBY)
				},
				"nav1": {
					"radio-use": createSegmentDisplay('###.##      ', 'display-' + NAV1 + '-' + ACTIVE),
					"radio-standby": createSegmentDisplay('###.##      ', 'display-' + NAV1 + '-' + STANDBY)
				},
				"nav2": {
					"radio-use": createSegmentDisplay('###.##      ', 'display-' + NAV2 + '-' + ACTIVE),
					"radio-standby": createSegmentDisplay('###.##      ', 'display-' + NAV2 + '-' + STANDBY)
				}
			};
			
		</script>
		
	</body>
</html>
